.Chat {
    width: 100%;
}

.chat-logo {
    display: none;
}

.chat-log {
    height: 400px;
    overflow: scroll;

    background-color: var(--light-color);
    border-radius: .5rem;
    padding: .5rem;
}

.chat-entry {
    padding: .75rem;
    margin: .5rem;
    border-radius: .5rem;
    background-color: var(--light-blue-color);
    word-wrap: break-word;
}

.chat-entry span {
    font-weight: bold;
    display: block;
}


.chat-form {
    position: relative;
    margin: 1rem 0 1.5rem;
    background-color: var(--light-color);
    border-radius: .5rem;
    padding: 1rem;
}

.chat-form input {
    position: relative;
    width: 100%;
    border-radius: .5rem;
    border: none;
    background-color: var(--light-blue-color);
    padding: .75rem;
    padding-right: 2.75rem;
    
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.chat-form button {
    background-color: var(--light-blue-color);
    border: none;
    color: #fff;

    position: absolute;
    right: 1.75rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.chat-form button i {
    color: var(--red-color);
}


.chat-profile {
    padding: 1.25rem;
    background-color: var(--light-color);
    border-radius: .5rem;
    font-weight: bold;
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

.chat-profile p {
    color: var(--red-color);
}

.chat-profile button {
    padding: .5rem;
    background-color: var(--blue-color);
    border: none;
    border-radius: .33rem;
    color: #fff;

    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s;

    margin-top: .5rem;
    transition: .3s;
}

.chat-profile button:hover {
    background-color: #86969f;
    transition: .3s;
}

.chat-users {
    padding: 1.25rem;
    background-color: var(--light-color);
    border-radius: .5rem;
    text-align: center;
}



/* non-mobile */
@media only screen and (min-width: 800px) {
    .Chat {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
          "chat-logo chat-log chat-log chat-log"
          "chat-info-container chat-log chat-log chat-log"
          "chat-info-container chat-log chat-log chat-log"
          "chat-info-container chat-log chat-log chat-log"
          "chat-info-container chat-form chat-form chat-form";
      
        height: 700px;
    }

    .chat-log { grid-area: chat-log; height: auto;  margin-left: 1.5rem; }
    .chat-logo { grid-area: chat-logo;}
    .chat-info-container { grid-area: chat-info-container; }
    .chat-form { grid-area: chat-form; margin-left: 1.5rem;}

    .chat-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--red-color);
        font-size: 1.75rem;
    }

    .chat-users {
        height: 409px;
    }

    .chat-form {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .chat-form input {
        height: 4rem
    }

    .chat-form button {
       top: 3rem;
    }
}

