.Credential {
    width: 300px;
}

.credential-title {
    font-size: 3rem;
}

.credential-form {
    margin: 1.25rem 0;
}

.credential-form input {
    width: 100%;
    border-radius: .33rem;
    border: none;
    background-color: #fc466b;
    color: #fff;
    padding: .5rem;
    
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.credential-form input::placeholder {
    color: #fff;
    opacity: .8; 
}

.credential-form input::-ms-input-placeholder {
    color: #fff;
    opacity: .8; 
}

.credential-error {
    color: #fc466b;
    margin-bottom: 1rem;
}


.credential-form button {
    padding: .5rem;
    background-color: #3f5efb;
    border: none;
    border-radius: .33rem;
    color: #fff;

    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s;
}

.credential-form button:hover {
    background-color: rgba(63, 94, 362, .9);
    transition: .3s;
}

.credential-footer {
    margin-top: .5rem;
}


/* mobile */
@media only screen and (max-width: 450px) {
    .Credential {
        width: 200px;
    }

    .home-main-text {
        font-size: 2.6rem;
    }
}