.Home {
    width: 100%;
    padding: 0 2rem;
}

.home-svg {
    display: block;
    width: 50%;
    margin: 0 auto 1rem;
}

.home-main-text {
    font-size: 3.5rem;
}

@keyframes color-change {
    0% {color: #000;}
    100% {color: #fc466b;}
}

.home-main-text span {
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-name: color-change;
    animation-duration: 1s;
}

.home-sub-text {
   font-size: 1.33rem;
   margin: 1rem 0; 
   font-weight: 300;
}

.home-link-container {
    display: flex;
}

.home-link-container .Link:first-child {
    margin-right: 1rem;
}

